<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="css.css">
<head>
	<title>Accueil</title>
	<meta charset="utf-8">
</head>
<body>
	<div id="page">
	<header>
		<ul>
			<li class="Menu" style="text-align: left"> <a href="#" class="logo" id="logoMenu"> <img src="more.png" alt="logo menu"> </a>
				<ul class="sous-menu"> 
					<li> Qui sommes-nous ? </li> 
					<li> Nous contacter </li>
					<li> Conditions générales </li>
					<li> se connecter ? (opt rédiger des notes jsp...) </li>
				</ul>
			</li>
			<li style="text-align: center"> <a href="#" class="logo"> <img src="swarm.png" alt="logo site" height="40px"> </a> </li>
			<li style="text-align: right;"> lien wiki </li>
		</ul>
	</header>

	<hr>

	<nav class="photo">
		<!--Image-->
	</nav>

	<nav>
		<table border="1" width="100%" cellspacing="0" cellpadding="0">
			<tr>
			<td colspan="2" height="200px"> bla bla de base sur les abeilles qui sera quand même un peu long mdr</td>
			<td>image abeille</td>
		</tr>
		</table>
	</nav>

	<footer>
		<table class="footer" border="1" width="100%" cellspacing="0" cellpadding="0">
			<tr>
				<td align="left" width="33.33%"><a href="#">Qui sommes-nous ?</a></td>
				<td align="center" width="33.33%"><a href="#">Nous contacter</a></td>
				<td align="right" width="33.33%"><a href="#">Conditions générales</a></td>
			</tr>
		</table>
	</footer>
	</div>
</body>
</html>