html{
	background-image: url(planes1.png);
 /* background-color: yellow; /* trouver une couleur un peu miel */
  height: 100%;
}

body{
	margin : auto;
	width: 1000px;
	height: 100%;
	
}

#page {
  min-height: 100%;
  position: relative;
  background-color: white;
  box-shadow: -10px 5px 25px gray, 10px 5px 25px gray;
}

<!--[if lte IE 6]>
<style type="text/css">
div#page {
  height: 100%;
}
</style>
<![endif]-->

div #page {
  position: relative;
}
div .footer { /* Accueil 3 bis permet de bien positionner le footer dans les pages autres que l'accueil */
  position: absolute;
  width: 1000px;
  bottom: 0%;
}
/* Haut de la page */

.logo img {
  width: 50px;
  height: 50px;
}

/* Menu déroulant */
header > ul{ /* les enfants direct de l'élément nav */
  margin: 0px;
  padding: 0px;
}

header > ul::after{ /* Ligne pour rétablir la hauteur du menu vu que les sous-enfants flottent mais pas les "titres" */
  content: "";
  display: block;
  clear: both;
}

header > ul > li{ /* enfants li direct de ul eux-mêmes enfants direct de nav */
  float: left;
  position: relative;
  width: 33%;
}


header li{ /* ciblage de tous les éléments li de l'élément nav */
  list-style-type: none;
}

.sous-menu{ /* ne pas afficher les sous-menu (tant qu'on ne survole pas avec la souris) */
  display: none;
}

header a{ /* aligner les (titres) supprimer la ligne en dessous des mots */
  display: block;
  text-decoration: none;
}

header li:hover .sous-menu{ /* :hover = quand on passe la souris sur l'élément ; afficher le sous-menu quand la souris survole */
  display: inline-block;
  position: absolute; /* pour que le sous-menu s'affiche bien en dessous de l'image */
  top: 100%;
  left: 0px;
  padding: 0px;
  z-index: 1000;
}

.sous-menu li{ /* bordure sous chaque section du sous-menu */
  border-bottom: 1px solid grey;
}

.sous-menu li a{ /* taille et affichage des sections du sous-menu */
  padding: 15px 30px;
  font-size: 13px;
  color: #222538;
  width: 400px;
}

.Menu .sous-menu{ /* bgcolor du sous-menu */
  background-color: rgba(230,100,40, 0.9);
}

.sous-menu li:hover a{ /* style police quand la souris survole un élément du sous-menu */
  color: #EEE;
  font-weight: bold;
}
.Menu .sous-menu li:hover{ /* fond quand la souris survole une section du sous-menu */
  background-color: maroon;
}

/* Rotation de l'image du menu déroulant */
#logoMenu  img{
  -webkit-transition:-webkit-transform .9s; 
  -moz-transition:-moz-transform .9s;       
  -o-transition:-o-transform .9s;           
  -ms-transition:-ms-transform .9s;        
  transition:transform .9s;
}
#logoMenu  img:hover{
  -webkit-transform:rotate(90deg); 
  -moz-transform:rotate(90deg);
  -o-transform:rotate(90deg); 
  -ms-transform:rotate(90deg); 
  transform:rotate(90deg);
}

/* Corps de la page d'ACCUEIL */
.photo {
  height: 300px;
  width: 100%;
  background-image: url(swarm.png);
}

/* Pied de page */
.footer {
  width: 100%;
  background-color: grey;
  height: 50px;
}

.footer td {
  text-align: center;
  width: 33%;
}

.footer td a {
  color: white;
  text-decoration: none;
}